:root {
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Neue Haas Grotesk Text", "sans-serif";
}

html,
body {
  height: 100%;
  background-color: #ffbd5e;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

@font-face {
  font-family: "Neue Haas Grotesk Text";
  src: url("assets/fonts/NHaasGroteskTXPro-55Rg.otf");
  format: ("opentype");
  font-style: normal;
  font-weight: 400, normal;
}

.carta {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-image: url("./assets/imgs/bgFondo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  mix-blend-mode: multiply;
  padding: 20px 20px 0 20px;
}

main {
  max-height: 90vh;
  overflow-x: hidden;
  overflow-y: auto;
}

ul {
  list-style-type: none;
}

.category {
  font-weight: 600;
  font-size: clamp(1.7rem, 4vw, 4rem);
}

.main__item {
  margin-bottom: 10px;
}

.main__item-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main__item-name {
  font-weight: 500;
  /* font-size: 3.6vw; */
  font-size: clamp(1.5rem, 3.6vw, 4rem);
  width: 70%;
}

.main__item-price {
  font-weight: 400;
  font-size: clamp(1.5rem, 3.6vw, 4rem);
  text-align: right;
}

.main__item-description {
  font-weight: 400;
  /* font-size: 3.2vw; */
  font-size: clamp(0.8rem, 3.1vw, 3rem);
  color: #4d4d4d;
  width: 60vw;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.page-arrow-prev {
  border-style: solid;
  border-width: 17.5px 30px 17.5px 0;
  border-color: transparent #000 transparent transparent;
}

.page-arrow-next {
  border-style: solid;
  border-width: 17.5px 0 17.5px 30px;
  border-color: transparent transparent transparent #000;
}
.footer-title {
  min-width: 87vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__logo {
  width: 5em;
}
