:root {
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Neue Haas Grotesk Text", "sans-serif";
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

@font-face {
  font-family: "Neue Haas Grotesk Text";
  src: url("assets/fonts/NHaasGroteskTXPro-55Rg.otf");
  format: ("opentype");
  font-style: normal;
  font-weight: 400, normal;
}

.carta {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

main {
  height: 95%;
}

.main__item-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.main__item-name {
  font-weight: 500;
  font-size: 3.6vw;
  width: 70%;
}

.main__item-description {
  font-weight: 400;
  font-size: 3.2vw;
  color: #4d4d4d;
  width: 55vw;
}

.main__item-price {
  font-weight: 400;
  font-size: 3.6vw;
  text-align: right;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 5%;
}

.footer__logo {
}
